<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Tests" parallel="tests" thread-count="3">
    <test name="Test1">
        <classes>
            <class name="com.example.testing.ExampleTest1"/>
        </classes>
    </test>
    <test name="Test2">
        <classes>
            <class name="com.example.testing.ExampleTest2"/>
        </classes>
    </test>
    <test name="Test3">
        <classes>
            <class name="com.example.testing.ExampleTest3"/>
        </classes>
    </test>
</suite>
